@page "/ansatte/opret"
@using BellaFrisoer.Application.Interfaces
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inject IEmployeeService EmployeeService
@rendermode InteractiveServer

<PageTitle>Opret Ansat</PageTitle>

<h1>Opret Ansat</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<EditForm method="post" Model="Employee" OnValidSubmit="AddEmployee" FormName="create" Enhance>
			<DataAnnotationsValidator />
			<ValidationSummary class="text-danger" role="alert" />

			<div class="mb-3">
				<label for="firstname" class="form-label">Fornavn:</label>
				<InputText id="firstname" @bind-Value="Employee.FirstName" class="form-control" />
				<ValidationMessage For="() => Employee.FirstName" class="text-danger" />
			</div>

			<div class="mb-3">
				<label for="lastname" class="form-label">Efternavn:</label>
				<InputText id="lastname" @bind-Value="Employee.LastName" class="form-control" />
				<ValidationMessage For="() => Employee.LastName" class="text-danger" />
			</div>

			<div class="mb-3">
				<label for="phonenumber" class="form-label">Telefon Nummer:</label>
				<InputNumber id="phonenumber" @bind-Value="Employee.PhoneNumber" class="form-control" />
				<ValidationMessage For="() => Employee.PhoneNumber" class="text-danger" />
			</div>

			<button type="submit" class="btn btn-primary">Opret</button>
		</EditForm>
	</div>
</div>

<div>
	<a href="/employees">Tilbage</a>
</div>

@code {
	[SupplyParameterFromForm]
	private Employee Employee { get; set; } = new();

	private async Task AddEmployee()
	{
		await EmployeeService.AddEmployeeAsync(Employee);
		NavigationManager.NavigateTo("/ansatte");
	}
}