@page "/ansatte/rediger"
@using BellaFrisoer.Application.Interfaces
@inject IEmployeeService EmployeeService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Rediger Ansat</PageTitle>

<h1>Rediger Ansat</h1>

<hr />

@if (Employee is null)
{
    <p><em>Indlæser...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Employee" OnValidSubmit="UpdateEmployee" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />

                <input type="hidden" name="Employee.Id" value="@Employee.Id" />

                <div class="mb-3">
                    <label for="firstname" class="form-label">Fornavn:</label>
                    <InputText id="firstname" @bind-Value="Employee.FirstName" class="form-control" />
                    <ValidationMessage For="() => Employee.FirstName" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="lastname" class="form-label">Efternavn:</label>
                    <InputText id="lastname" @bind-Value="Employee.LastName" class="form-control" />
                    <ValidationMessage For="() => Employee.LastName" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="phonenumber" class="form-label">Telefon Nummer:</label>
                    <InputNumber id="phonenumber" @bind-Value="Employee.PhoneNumber" class="form-control" />
                    <ValidationMessage For="() => Employee.PhoneNumber" class="text-danger" />
                </div>

                <button type="submit" class="btn btn-primary">Gem</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/employees">Tilbage</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Employee? Employee { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Employee ??= await EmployeeService.GetEmployeeByIdAsync(Id);

        if (Employee is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdateEmployee()
    {
        await EmployeeService.UpdateEmployeeAsync(Employee!);
        NavigationManager.NavigateTo("/employees");
    }
}
