@page "/employees"
@using BellaFrisoer.Domain.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BellaFrisoer.WebUi.Data.BellaFrisoerWebUiContext> DbFactory

<PageTitle>Ansatte</PageTitle>

<h1>Ansatte</h1>

<p>
	<a class="btn btn-primary" href="/employees/create">Opret Ansatte</a>
	<a class="btn btn-secondary" href="/bookings">Bookings</a>
</p>

@if (employees is null)
{
	<p><em>Loading...</em></p>
}
else if (!employees.Any())
{
	<p>Ingen Ansatte endnu...</p>
}
else
{
	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th>Navn</th>
			<th>Tlf Nummer</th>
			<th>Id</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var c in employees)
		{
			<tr>
				<td>@(c.Name ?? "—")</td>
				<td>@(c.PhoneNumber.ToString() ?? "—")</td>
				<td>@(c.Id.ToString() ?? "—")</td>

				<td>
					<a href="/bookings/details?id=@c.Id" class="btn btn-sm btn-primary">Detajler</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}


@code {

	private List<Employee>? employees;

	protected override async Task OnInitializedAsync()
	{
		using var ctx = DbFactory.CreateDbContext();
		var list = await ctx.Employees.OrderBy(c => c.Name).ToListAsync();
		employees = list;
	}
}