@page "/"
@* @using BellaFrisoer.Infrastructure.Data *@
@using BellaFrisoer.Domain.Models
@using Microsoft.EntityFrameworkCore
@using System.Linq
@* @inject IDbContextFactory<BellaFrisoer.Infrastructure.Data.BellaFrisoerWebUiContext> DbFactory *@

<PageTitle>Kalender</PageTitle>

<EditForm Model="@this">
	<InputDate @bind-Value="myDate" />
</EditForm>

@* <button @onclick="SortBookings">Sort Bookings</button>
<p>@myDate.ToShortDateString()</p> *@

@if (SortedBookings.Any())
{
	@foreach (var b in SortedBookings)
	{
		<p>@b.Customer?.Name</p>
		<p> Har en tid kl. @b.BookingDateTime.ToShortTimeString()</p>
	}
}

@code {
	private DateTime myDate = DateTime.Today;
	private List<Booking> SortedBookings { get; set; } = new List<Booking>();

	// private async Task SortBookings()
	// {
	// 	using var context = DbFactory.CreateDbContext();
	// 	SortedBookings = await context.Bookings
	// 		.Include(b => b.Customer)
	// 		.Where(b => b.BookingDateTime.Date == myDate.Date)
	// 		.ToListAsync();
	// }

}