@page "/behandlinger/opret"
@using BellaFrisoer.Application.Interfaces
@using Microsoft.EntityFrameworkCore
@using BellaFrisoer.Domain.Models;
@inject NavigationManager NavigationManager
@inject ITreatmentService TreatmentService

@rendermode InteractiveServer

<PageTitle>Opret behandlinger</PageTitle>

<h1>Opret behandlinger</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="treatment" OnValidSubmit="AddTreatment" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <InputText id="name" @bind-Value="treatment.Name" class="form-control" />
                <ValidationMessage For="() => treatment.Name" class="text-danger" />
            </div>
            
            <div class="mb-3">
                <label for="productNumber" class="form-label">Product Number:</label>
                <InputText id="productNumber" @bind-Value="treatment.ProductNumber" class="form-control" />
                <ValidationMessage For="() => treatment.ProductNumber" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="durationMinutes" class="form-label">Varighed i min:</label>
                <InputNumber id="durationMinutes" @bind-Value="treatment.DurationMinutes" class="form-control" />
                <ValidationMessage For="() => treatment.DurationMinutes" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="hourlyRate" class="form-label">Timepris i kr:</label>
                <InputNumber id="durationMinutes" @bind-Value="treatment.HourlyRate" class="form-control" />
                <ValidationMessage For="() => treatment.HourlyRate" class="text-danger" />
            </div>

            <button type="submit" class="btn btn-primary">Opret</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/Behandlinger">Tilbage til liste</a>
</div>

@code {
    [SupplyParameterFromForm] private Treatment treatment { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTreatment()
    {
        await TreatmentService.AddTreatmentAsync(treatment);
        NavigationManager.NavigateTo("/behandlinger");
    }
}
