@page "/behandlinger/opret"
@using BellaFrisoer.Application.Interfaces
@using BellaFrisoer.Application.Services
@using BellaFrisoer.Domain.Models
@inject NavigationManager NavigationManager
@inject ITreatmentService TreatmentService
@rendermode InteractiveServer

<PageTitle>Opret Behandling</PageTitle>
<h1>Opret Behandling</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<EditForm method="post" Model="Treatment" OnValidSubmit="AddTreatment" FormName="create" Enhance>
			<DataAnnotationsValidator />
			<ValidationSummary class="text-danger" role="alert" />
			<div class="mb-3">
				<label for="treatmentName" class="form-label">Navn:</label>
				<InputText id="treatmentName" @bind-Value="Treatment.Name" class="form-control" />
				<ValidationMessage For="() => Treatment.Name" class="text-danger" />
			</div>
			<div class="mb-3">
				<label for="treatmentPrice" class="form-label">Pris:</label>
				<InputNumber id="treatmentPrice" @bind-Value="Treatment.Price" class="form-control" />
				<ValidationMessage For="() => Treatment.Price" class="text-danger" />
			</div>
			<div class="mb-3">
				<label for="treatmentDuration" class="form-label">Varighed (minutter):</label>
				<InputNumber id="treatmentDuration" @bind-Value="Treatment.Duration" class="form-control" />
				<ValidationMessage For="() => Treatment.Duration" class="text-danger" />
			</div>
			<button type="submit" class="btn btn-primary">Opret</button>
		</EditForm>
	</div>
</div>
<div>
    <a href="/behandlinger">Tilbage</a>
</div>

@code {
    [SupplyParameterFromForm] private Treatment treatment { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTreatment()
    {
        await TreatmentService.AddTreatmentAsync(treatment);
        NavigationManager.NavigateTo("/behandlinger");
    }
}
