@page "/behandlinger/slet"
@using BellaFrisoer.Application.Interfaces
@using BellaFrisoer.Application.Services
@using BellaFrisoer.Domain.Models
@inject NavigationManager NavigationManager
@inject ITreatmentService TreatmentService
@rendermode InteractiveServer

<PageTitle>Slet Behandling</PageTitle>
<h1>Slet Behandling</h1>
<p>Er du sikker på at du vil slette denne behandling?</p>

<div>
	<hr />
	@if (treatment is null)
	{
		<p><em>Indlæser...</em></p>
	}
	else
	{
		<dl class="row">
			<dt class="col-sm-2">Navn:</dt>
			<dd class="col-sm-10">@treatment.Name</dd>
		</dl>
		<dl class="row">
			<dt class="col-sm-2">Varighed (minutter):</dt>
			<dd class="col-sm-10">@treatment.Duration</dd>
		</dl>
		<dl class="row">
			<dt class="col-sm-2">Pris:</dt>
			<dd class="col-sm-10">@treatment.Price</dd>
		</dl>

		<EditForm method="post" Model="treatment" OnValidSubmit="DeleteTreatment" FormName="delete" Enhance>
			<button type="submit" class="btn btn-danger" disabled="@(treatment is null)">Slet</button> |
			<a href="/behandlinger">Tilbage</a>
		</EditForm>
	}
</div>

@code {
	private Treatment? treatment;
	[SupplyParameterFromQuery]
	private int Id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		treatment = await TreatmentService.GetTreatmentByIdAsync(Id);
		if (treatment == null)
		{
			NavigationManager.NavigateTo("notfound");
		}
	}

	private async Task DeleteTreatment()
	{
		await TreatmentService.DeleteTreatmentAsync(treatment);
		NavigationManager.NavigateTo("/behandlinger");
	}
}