@page "/behandlinger/detaljer"
@using BellaFrisoer.Application.Interfaces
@using Microsoft.EntityFrameworkCore
@using BellaFrisoer.Domain.Models
@inject NavigationManager NavigationManager
@inject ITreatmentService TreatmentService

<PageTitle>Detaljer</PageTitle>

<h1>Detaljer</h1>

<div>
    <h2>Behandling</h2>
    <hr />
    @if (Treatment == null)
    {
        <p><em>Indlæser...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@Treatment.Name</dd>
            <dt class="col-sm-2">ProductNumber</dt>
            <dd class="col-sm-10">@Treatment.Price</dd>
            <dt class="col-sm-2">DurationMinutes</dt>
            <dd class="col-sm-10">@Treatment.Duration</dd>
        </dl>
        <div>
	        <a href="/behandlinger" class="btn btn-sm btn-primary">Tilbage</a>
	        <a href="/behandlinger/rediger?id=@Treatment.Id" class="btn btn-sm btn-warning">Rediger</a>
	        <a href="/behandlinger/delete?id=@Treatment.Id" class="btn btn-sm btn-danger">Slet</a>
        </div>
    }
</div>

@code {
    private Treatment? Treatment;
    private string? ErrorMessage;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Treatment ??= await TreatmentService.GetByIdAsync(Id);

            if (Treatment is null)
            {
                NavigationManager.NavigateTo("notfound");
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Load failed: {ex.Message}";
        }
    }
}
