@page "/behandlinger"
@using BellaFrisoer.Application.Interfaces
@using BellaFrisoer.Domain.Models
@using Microsoft.EntityFrameworkCore
@inject ITreatmentService TreatmentService

<PageTitle>Behandlinger</PageTitle>

<h1>Behandlinger</h1>

<p>
	<a class="btn btn-primary" href="/behandlinger/opret">Opret behandling</a>
	<a class="btn btn-secondary" href="/behandlinger">Behandlinger</a>
</p>

@if (treatments is null)
{
	<p><em>Loading...</em></p>
}
else if (!treatments.Any())
{
	<p>Ingen Behandlinger endnu...</p>
}
else
{
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Navn</th>
				<th>Produkt nummer</th>
				<th>Varighed i minutter.</th>
				<th>Timepris i kr. </th>
			</tr>
		</thead>
		<tbody>
			@foreach (var t in treatments)
			{
				<tr>
					<td>@(t.Name ?? "—")</td>
					<td>@(t.ProductNumber ?? "—")</td>
					<td>@(t.DurationMinutes.ToString() ?? "—")</td>
					<td>@(t.HourlyRate.ToString() ?? "—")</td>
					<td>
						<a href="/behandlinger/detaljer?id=@t.Id" class="btn btn-sm btn-primary">Detajler</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}


@code {

	private IReadOnlyList<Treatment>? treatments;

	protected override async Task OnInitializedAsync()
	{
		treatments = await TreatmentService.GetAllAsync();
	}
}