@page "/behandlinger"
@using BellaFrisoer.Application.Interfaces
@using BellaFrisoer.Domain.Models
@inject NavigationManager NavigationManager
@inject ITreatmentService TreatmentService
@rendermode InteractiveServer

<PageTitle>Behandlinger</PageTitle>
<h1>Behandlinger</h1>

<div class="mb-3">
	<a href="/behandlinger/opret" class="btn btn-primary">Opret Behandling</a>
	<a href="/bookings" class="btn btn-secondary">Bookings</a>
</div>

<input @oninput="OnSearchChanged" class="form-control mb-3" placeholder="Søg Behandlinger..." />

@if (Treatments is null)
{
	<p><em>Indlæser...</em></p>
}
else if (!Treatments.Any())
{
	<p>Ingen behandlinger endnu...</p>
}
else
{


<table class="table">
	<thead>
	<tr>
		<th>Id</th>
		<th>Navn</th>
		<th>Pris</th>
		<th>Varighed (minutter)</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var treatment in Treatments)
	{
		<tr>
			<td>@treatment.Id</td>
			<td>@treatment.Name</td>
			<td>@treatment.Price</td>
			<td>@treatment.Duration</td>
			<td>
				<a href="/behandlinger/detaljer/@treatment.Id" class="btn btn-primary">Detaljer</a>
				<a href="/behandlinger/rediger/@treatment.Id" class="btn btn-warning">Rediger</a>
				<a href="/behandlinger/slet/@treatment.Id" class="btn btn-danger">Slet</a>
			</td>
		</tr>
	}
	</tbody>
</table>
}
@code {
	private List<Treatment> Treatments { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		Treatments = await TreatmentService.GetAllAsync();
	}
	private async Task OnSearchChanged(ChangeEventArgs e)
	{
		string searchString = e.Value?.ToString() ?? string.Empty;
		Treatments = await TreatmentService.FilterTreatmentsAsync(searchString);
	}
}