@page "/kunder"
@using BellaFrisoer.Application.Interfaces
@using BellaFrisoer.Application.Services
@using BellaFrisoer.Domain.Models
@using Microsoft.EntityFrameworkCore
@inject ICustomerService CustomerService
@rendermode InteractiveServer

<PageTitle>Kunder</PageTitle>

<h1>Kunder</h1>

<p>
    <a class="btn btn-primary" href="/kunder/opret">Opret Kunde</a>
    <a class="btn btn-secondary" href="/bookings">Bookings</a>
</p>

@if (customers is null)
{
    <p><em>Loading...</em></p>
}
else if (!customers.Any())
{
    <p>Ingen Kunder endnu...</p>
}
else
{
	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th>Fornavn:</th>
			<th>Efternavn:</th>
			<th>Telefon Nummer:</th>
			<th>Id:</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var c in customers)
		{
			<tr>
				<td>@(c.FirstName ?? "—")</td>
				<td>@(c.LastName ?? "—")</td>
				<td>@(c.PhoneNumber.ToString() ?? "—")</td>
				<td>@(c.Id.ToString() ?? "—")</td>

				<td>
					<a href="/kunder/detaljer?id=@c.Id" class="btn btn-sm btn-primary">Detaljer</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}


@code {

	private List<Customer>? customers;

	protected override async Task OnInitializedAsync()
	{
		customers = await CustomerService.GetAllAsync();
	}
}