@page "/customers"
@using BellaFrisoer.Domain.Interfaces
@using BellaFrisoer.Domain.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BellaFrisoer.Infrastructure.Data.BellaFrisoerWebUiContext> DbFactory

<PageTitle>Customers</PageTitle>

<h1>Customers</h1>

<p>
    <a class="btn btn-primary" href="/customers/create">Create Customer</a>
    <a class="btn btn-secondary" href="/bookings">Bookings</a>
</p>

@if (customers is null)
{
    <p><em>Loading...</em></p>
}
else if (!customers.Any())
{
    <p>Ingen Kunder endnu...</p>
}
else
{
	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th>Navn</th>
			<th>Tlf Nummer</th>
			<th>Id</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var c in customers)
		{
			<tr>
				<td>@(c.FirstName ?? "—")</td>
				<td>@(c.PhoneNumber.ToString() ?? "—")</td>
				<td>@(c.Id.ToString() ?? "—")</td>

				<td>
					<a href="/bookings/details?id=@c.Id" class="btn btn-sm btn-primary">Detajler</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}


@code {

	private List<ICustomer>? customers;

	protected override async Task OnInitializedAsync()
	{
		using var ctx = DbFactory.CreateDbContext();
		var list = await ctx.Customers.OrderBy(c => c.FirstName).ToListAsync();
		customers = list;
	}
}