@page "/customers"
@using BellaFrisoer.Domain.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BellaFrisoer.WebUi.Data.BellaFrisoerWebUiContext> DbFactory

<PageTitle>Customers</PageTitle>

<h1>Customers</h1>

<p>
    <a class="btn btn-primary" href="/customers/create">Create Customer</a>
    <a class="btn btn-secondary" href="/bookings">Bookings</a>
</p>

@if (customers is null)
{
    <p><em>Loading...</em></p>
}
else if (!customers.Any())
{
    <p>No customers yet.</p>
}
else
{
	<table class="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>Phone Number</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (var c in customers)
		{
				<p>@c.Name</p>
			<p>@c.PhoneNumber</p>
					<a href="@($"/customers/details?id={c.Id}")">Details</a>
		}
		</tbody>
	</table>
}


@code {
    private List<Customer>? customers;

    protected override async Task OnInitializedAsync()
    {
        using var ctx = DbFactory.CreateDbContext();
        customers = await ctx.Customers.OrderBy(c => c.Name).ToListAsync();
    }
}
