@page "/bookings/create"
@using Microsoft.EntityFrameworkCore
@using BellaFrisoer.Domain.Models
@using BellaFrisoer.Domain.Interfaces
@inject IDbContextFactory<BellaFrisoer.Infrastructure.Data.BellaFrisoerWebUiContext> DbFactory
@inject IBookingRepository BookingRepository

@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Booking</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Booking" OnValidSubmit="AddBooking" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="bookingdatetime" class="form-label">BookingDateTime:</label>
                <InputDate id="bookingdatetime" @bind-Value="Booking.BookingDateTime" class="form-control" />
                <ValidationMessage For="() => Booking.BookingDateTime" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="customername" class="form-label">CustomerName:</label>
                <InputText id="customername" @bind-Value="Booking.Customer.Name" class="form-control" />
                <ValidationMessage For="() => Booking.Customer.Name" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="customernumber" class="form-label">Phone Number:</label>
                <InputText id="customernumber" @bind-Value="Booking.Customer.PhoneNumber" class="form-control" placeholder="Customer Name" />
                <ValidationMessage For="() => Booking.Customer.PhoneNumber" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/bookings">Back to List</a>
</div>

@code {

    private Booking Booking { get; set; } = new Booking(new Booking(DateTime.Now, new Customer("", "", "", "", null)));

    protected override void OnInitialized()
    {
        // You can add initialization logic here if needed
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddBooking()
    {
        try
        {
            await BookingRepository.AddAsync(Booking);
            NavigationManager.NavigateTo("/bookings");
        }
        catch (Exception ex)
        {
            // Log error or show user feedback
            Console.Error.WriteLine(ex.Message);
        }
    }
}